body {
  background-color: #0c6d97;
}

.App {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
}

h1 {
  position: absolute;
  color:azure;
  
}

h2 {
  position: absolute;
  color:azure;
  top: 100px;
  
}

h3, h4 {
  color:azure;
}

p {
  font-weight: bold;
}

.place{
  margin-top: 100px;
  
  display: flex;
  flex-wrap: wrap;
}

.place-card {
  margin: 50px;
}

  
  .about {
    display: flex;
    justify-content: center;
  
    
  }

  .text {
    color: azure;
  }

  .textone {
    margin: 100px;
    border: 1px solid azure;
    padding: 10px;
  }



  .container {
    display: flex;
    justify-content: center;
  
  }
nav {
  background: #0c6d97;
  display: flex;
  justify-content: center;
  padding: 15px;
}

.link {
  padding: 10px 40px;
  text-decoration: none;
  color: azure;
  text-transform: uppercase;
  border-bottom: 1px solid;
}

.btn {

  display: flex;
  justify-content: space-evenly;
  
  }

  button {

    color: azure;
    background-color: #0c6d97;
    padding: 15px;
    border-bottom: 1px solid azure;
    text-transform: uppercase;
    
    }

    .cont {
      display: flex;
      justify-content: space-around;
      margin-top: 100px;
    
    }

    .categoryButtonSelected {
      background-color: whitesmoke;

    }


    .categoryButton {
      cursor: pointer;
      margin: 20px;
      padding: 10px;
    }

    .categoryButton:hover {
      background-color: grey
    }

    .cartIcon {
      width: 70px;
    }

    .deleteIcon{
      width: 50px;
    }

    .contactIcon {
      width: 30px;
    }

    .picOne {
      border-radius: 30%;
    }

    @media all and (max-width:500px) {
      .image {
        width: 800px;
        height: 500px;
      }

      h1 {
        font-size: medium;
      }

      h2 {
        font-size: large;
      }

      .link {
        font-size: 10px;
        padding: 5px 20px;
      }

      .textone {
        margin: 5px;
        padding: 60px;
      }

      .textaboutone {
        padding-top: 70px;
        
      }

      .pic {
        width: 300px;
      }

      button {
        padding: 5px;
        width: 100px;
      }

      .shrift {
        font-size: small;
        padding: 40px;
      }

      .picOne {
        width: 150px;
      }

    }